.vscode/
.vercel/
test_files/
__pycache__/
example_query/
piper_sdk/
Rekep-ur5/
pyroki/
test_outputs/
visualization/
v2c*
result/
go_to_reset_robot.py
keypoint_annotator.html
logs/
captures/
rekep_result/
